.basket {
    width: 600px;
    height: 255px;
    border: 2px solid black; 
    margin: 0 auto;
    position: relative;
}

.sum {
    position: absolute;
    margin-top: 190px;
    margin-left: 245px;
    border: 1px solid red;
}

.head{ 
  line-height: 30px;
}

.goods {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

button {
    margin-top: 20px;
}
.text {
    padding-left: 110px;
}

.position {
    width: 500px;
    height: 50px;
    border: 1px solid brown; 
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}


.header {
    width:  500px;
    height: 30px;
    border: 1px solid brown;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.name {
    border-right: 1px solid brown;
    width: 33%;
    text-align: center;
    line-height: 50px;
}

.qty {
    border-right: 1px solid brown;
    width: 33%;;
}

.pcs {
   width: 15%;
   text-align: center;
   line-height: 50px; 
    border-right: 1px solid brown;    
}

.total {
    width: 20%;
    text-align: center;
    line-height: 50px;      
}
.total1{
    width: 20%;
    text-align: center;
    line-height: 50px;      
}

.total1{
    width: 20%;
    text-align: center;
    line-height: 50px;      
}


.button  {
    width: 20%;
    height: 20px;
    margin: 9px;
    margin-top: 15px;
}
