body {
    margin: 0 auto;
    
}
.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height:  380px; 
    
}

.wrapper_big {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center; 
  
    
}    
